<section id="main">
  <div class="container">
    <div class="bg-white rounded">

      <nav class="navbar navbar-expand sticky-top justify-content-center nav-pills navbar-light bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#analyze">Analyze track</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#how">How to analyze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">FAQ</a>
          </li>
        </ul>
      </nav>

      <div class="row py-2">
        <div class="col text-center text-secondary">
          <a id="analyze"></a>
          <br>
          <h2 class="fw-light pt-5 text-dark">Analyze track</h2>
          <hr class="style-two" />


          <!-- analysis component goes here-->

          <div class="container pb-5">
            <div class="text-center py-5">
              <div class="row">
                <div class="col-2"></div>
                <div class="col">

                  <form [formGroup]="idForm" (ngSubmit)="onSubmit()">

                    <input class="form-control input-lg" type="text" formControlName="idInput" placeholder="" required
                      maxlength="53" minlength="22" name="input">

                    <small id="idHelp" class="form-text text-muted">Enter spotify track ID, direct link or URI</small>

                    <div class="pb-3"></div>

                    <div *ngIf="!isLoading ; else elseBlock">
                      <button class="btn btn-sample btn-lg btn-group" type="submit"
                        (disabled)="!idForm.valid">Analyze</button>
                    </div>
                    <ng-template #elseBlock>
                      <button style="color: white;" class="btn btn-sample btn-lg btn-group" disabled>
                        Loading...
                      </button>
                      <div class="py-3">
                        <span class="spinner-border" style="color: cadetblue;" role="status" aria-hidden="true"></span>
                      </div>
                    </ng-template>

                    <div *ngIf="error">
                      <small id="idHelp" class="form-text text-danger">Error loading track. Please try again.</small>
                    </div>

                  </form>

                </div>
                <div class="col-2"></div>
              </div>
            </div>

            <div *ngIf="ready == true" class="container bg-light">

              <div class="col pt-5">
                <img class="align-self-center mr-2 rounded" [src]="trackData.imageURL" alt=''>
              </div>

              <div class="col rounded pt-2">

                <h5 class="fw-light">{{trackData.songName}}</h5>

              </div>

              <div class="col rounded pb-2">

                <h6 class="fw-light">{{trackData.artistName}}</h6>

              </div>

              <hr class="style-two" />

              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2">

                <div class="col rounded py-3">

                  <div class="row pt-2" style="color: #5C71A7;">

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-music fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1"> Key</div>
                    </div>

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-volume-up fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1"> Loudness (dB)</div>
                    </div>

                  </div>

                  <div class="row pt-3 pb-5">

                    <div class="col d-flex justify-content-center">

                      <div class="pl-1"> {{ keyLabels[trackData.key]}}</div>

                    </div>

                    <div class="col d-flex justify-content-center">

                      <div class="pl-1"> {{ trackData.loudness | number:'1.1-1'}}</div>

                    </div>

                  </div>

                  <div class="row pt-2" style="color: #5C71A7;">

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-smile-o fa-2x" aria-hidden="true"></i><i class="fa fa-frown-o fa-2x"
                        aria-hidden="true"></i>
                      <div class="pl-2 mt-1">Mode</div>
                    </div>

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1">Tempo (bpm)</div>
                    </div>

                  </div>

                  <div class="row pt-3 pb-5">

                    <div class="col d-flex justify-content-center">

                      <div class="pl-1">{{trackData.mode == 1 ? 'Major' : 'Minor'}}</div>

                    </div>

                    <div class="col d-flex justify-content-center">

                      <div class="pl-1">{{ trackData.tempo | number:'1.0-0'}}</div>

                    </div>

                  </div>

                  <div class="row pt-2" style="color: #5C71A7;">

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-gears fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1"> Time Signature</div>
                    </div>

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-hourglass-half fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1"> Duration (s)</div>
                    </div>

                  </div>

                  <div class="row pt-3 pb-5">

                    <div class="col d-flex justify-content-center">

                      <div class="pl-1">{{ trackData.time_signature}} / 4</div>

                    </div>


                    <div class="col d-flex justify-content-center">

                      <div class="pl-1">{{ trackData.duration_ms/1000 | number:'1.0-0'}}</div>

                    </div>

                  </div>

                  <div class="row pt-2" style="color: #5C71A7;">


                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1"> Popularity</div>
                    </div>

                    <div class="col d-flex justify-content-center">
                      <i class="fa fa-download fa-2x" aria-hidden="true"></i>
                      <div class="pl-2 mt-1"> Get data</div>
                    </div>

                  </div>

                  <div class="row pt-3 pb-3">

                    <div class="col d-flex justify-content-center">

                      <div class="pl-1">{{trackData.popularity}}</div>

                    </div>

                    <div class="col d-flex justify-content-center">

                      <div><a download="track-data.json" [href]="dataUri" type="button"
                          class="btn btn-sample btn-sm btn-group">Save as JSON...</a>
                      </div>

                    </div>

                  </div>

                </div>

                <div class="col rounded py-5">

                  <div echarts [options]="chartOption" (chartInit)="onChartInit($event)"></div>

                </div>

              </div>

              <div class="pb-3"></div>

            </div>

          </div>

          <!-- end analysis component-->

          <hr />
          <a id="how"></a>
          <br>
          <h2 class="fw-light pt-5 text-dark">How to analyze tracks?</h2>
          <hr class="style-two" />

          <div class="container pb-5">
            <h5 class="fw-light pt-3 text-dark">Analyzing Spotify tracks and saving results (#analysis)</h5>
            <div class="row pt-5 pb-3 px-auto">
              <div class="col">
                <h5 class="fw-light text-dark">1. Enter spotify track ID, direct link or URI and click
                  analyze
                </h5>
              </div>
              <div class="col">
                <h5 class="fw-light text-dark">2. Wait until the analysis is completed</h5>
              </div>
              <div class="col">
                <h5 class="fw-light text-dark">3. Click save to store the results as a JSON object</h5>
              </div>
            </div>
            <a type="button" href="#analyze" class="btn btn-sample btn-lg btn-group">Get started</a>
          </div>

          <hr />

          <a id="faq"></a>
          <br>
          <h6 class="fw-light pt-5 text-dark">FAQ</h6>
          <div class="container">
            <h2 class="fw-light pt-2 text-dark">1. What is a spotify track ID, URI and direct link?</h2>
            <hr class="style-two" />

            <div class="container pb-4">
              <h5 class="fw-light text-dark">Suppose you want to analyze the song <strong>Material
                  Real</strong> by
                <strong>Allan Holdsworth</strong>.
              </h5>
              <h5 class="fw-light text-dark">Its spotify ID would be: <strong>0VQoizcMq9epMT39uJHeiT</strong>
              </h5>
              <h5 class="fw-light text-dark">Its URI would be:
                <strong>spotify:track:0VQoizcMq9epMT39uJHeiT</strong>
              </h5>
              <h5 class="fw-light text-dark">Its direct link would be the whole address which points to the
                spotify
                website
              </h5>
            </div>

            <h2 class="fw-light pt-2 text-dark">2. How many features are present in a track?</h2>
            <hr class="style-two" />

            <div class="container pb-4">
              <h5 class="fw-light text-dark">A single spotify track can have up to 14 features:</h5>
              <h5 class="fw-light text-dark">Key, Loudness, Mode, Tempo, Time signature, Popularity, Duration
              </h5>
              <h5 class="fw-light text-dark">Danceability, Energy, Speechiness, Acousticness,
                Instrumentalness,
                Liveness
                and Valence</h5>
            </div>

            <h2 class="fw-light pt-2 text-dark">3. What's the meaning of those features?</h2>
            <hr class="style-two" />

            <div class="container pb-4">
              <h5 class="fw-light text-dark">You can read all about track features and their meaning <span
                  class="about"><a
                    href="https://developer.spotify.com/documentation/web-api/reference/#object-audiofeaturesobject"
                    target="_blank">here</a></span></h5>
            </div>

            <h2 class="fw-light pt-2 text-dark">4. Can I save the analysis?</h2>
            <hr class="style-two" />

            <div class="container pb-4">
              <h5 class="fw-light text-dark">Yes. You can save the results as a JSON object</h5>
            </div>

            <h2 class="fw-light pt-2 text-dark">5. Do you keep a history of the songs I analyze?</h2>
            <hr class="style-two" />

            <div class="container pb-5">
              <h5 class="fw-light text-dark">No, your privacy is our first concern. We don't track nor keep
                any
                records
                of
                your actions on the site.</h5>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
